<!doctype html>
<html lang="de">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css"
        integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
</head>
<!-- Bootstrap from: https://www.bootstrapdash.com/use-bootstrap-with-html/ -->

<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <a class="navbar-brand" href="#">Bestellung - Festessen ToGo BMK Buggingen</a>
    
</nav>


<body>
    <div class="container">
        {% block content %}
        {% endblock %}
    </div>
</body>

<!-- <nav class="navbar fixed-bottom navbar-light bg-light">
    <a class="navbar-brand" href="http://bmk-buggingen.de/index.php?id=10">Impressum</a>
    <a class="navbar-brand" href="http://bmk-buggingen.de/index.php?id=76">Datenschutz</a>

</nav> -->

</html>

