{% extends 'base.html' %}
{% load static %}

{% block content %}
<h3>Es ist leider etwas schief gelaufen ...</h3>
<h3>Die gleiche Bestellung wurde bereits aufgegeben.</h3>
<p>Bitte überprüfen Sie, ob Sie eine Bestellbestätigung per Mail erhalten haben, 
    falls ja ist Ihre Bestellung erfolgreich bei uns eingegangen.
</p>
<p>
    Sollten Sie keine Bestätigungsmail erhalten haben (es kann bis zu 10 Minuten dauern),
    dann kontaktieren Sie uns bitte unter <a href=mailto:bestellung@bmk-buggingen.de>bestellung@bmk-buggingen.de</a>
</p>



{% endblock %}