<!doctype html>
<html lang="de">

<p style="text-align: left;"><img src="banner" alt="banner ToGo" width="208" height="35" />&nbsp; &nbsp; &nbsp; &nbsp;
    &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;
    &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;
    &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;<img src="logo" alt="logo bmk"
        width="5" height="1" /></p>
<p style="text-align: left;">&nbsp;</p>
<h1 style="text-align: left;"><strong><span style="color: #993300;">Bestell&uuml;bersicht</span></strong></h1>
<p><span style="color: #808080;"><strong>Festessen ToGo</strong></span></p>
<p style="text-align: right;">{{date}}</p>
<p style="text-align: right;">&nbsp;</p>
<table
    style="height: 54px; width: 100%; border-collapse: collapse; border-style: hidden; float: left; border-color: #FFFFFF;"
    border="1">
    <tbody>
        <tr style="height: 18px;">
            <td style="width: 33.3333%; height: 18px;"><strong>Besteller</strong></td>
            <td style="width: 33.3333%; height: 18px;"><strong>Bestellnummer</strong></td>
            <td style="width: 33.3333%; height: 18px;"><strong>Abholtermin</strong></td>
        </tr>
        <tr style="height: 18px;">
            <td style="width: 33.3333%; height: 18px;"><span style="color: #808080;">{{Name}}</span></td>
            <td style="width: 33.3333%; height: 18px;"><span style="color: #808080;">{{Bestellnummer}}</span></td>
            <td style="width: 33.3333%; height: 18px;"><span style="color: #808080;">{{Abholtermin}}</span></td>
        </tr>
        <tr style="height: 18px;">
            <td style="width: 33.3333%; height: 18px;"><span style="color: #808080;">{{Mail}}</span></td>
            <td style="width: 33.3333%; height: 18px;">&nbsp;</td>
            <td style="width: 33.3333%; height: 18px;">&nbsp;</td>
        </tr>
        <tr>
            <td style="width: 33.3333%;"><span style="color: #808080;">{{Telefon}}</span></td>
            <td style="width: 33.3333%;">&nbsp;</td>
            <td style="width: 33.3333%;">&nbsp;</td>
        </tr>
    </tbody>
</table>
<p style="text-align: left;">&nbsp;</p>
<p style="text-align: left;">&nbsp;</p>
<p style="text-align: left;">&nbsp;</p>
<p style="text-align: left;">&nbsp;</p>
<table style="border-collapse: collapse; width: 100%; height: 72px; border-color: #FFFFFF; border-style: hidden;"
    border="1">
    <tbody>
        <tr style="height: 18px;">
            <td style="width: 61.0795%; height: 18px;"><strong>Essen</strong></td>
            <td style="width: 10.2272%; height: 18px;"><strong>Menge</strong></td>
            <td style="width: 13.3524%; height: 18px;"><strong>Einzelpreis</strong></td>
            <td style="width: 15.3409%; height: 18px;"><strong>Gesamtpreis</strong></td>
        </tr>
        <tr style="height: 18px;">
            <td style="width: 61.0795%; height: 18px; background-color: #eeeeee;">&nbsp;</td>
            <td style="width: 10.2272%; height: 18px; background-color: #eeeeee;">&nbsp;</td>
            <td style="width: 13.3524%; height: 18px; background-color: #eeeeee;">&nbsp;</td>
            <td style="width: 15.3409%; height: 18px; background-color: #eeeeee;">&nbsp;</td>
        </tr>
        <tr style="height: 18px;">
            <td style="width: 61.0795%; height: 18px;">&nbsp;</td>
            <td style="width: 10.2272%; height: 18px;">&nbsp;</td>
            <td style="width: 13.3524%; height: 18px;">&nbsp;</td>
            <td style="width: 15.3409%; height: 18px;">&nbsp;</td>
        </tr>
        <tr style="height: 18px;">
            <td style="width: 61.0795%; height: 18px; background-color: #eeeeee;">&nbsp;</td>
            <td style="width: 10.2272%; height: 18px; background-color: #eeeeee;">&nbsp;</td>
            <td style="width: 13.3524%; height: 18px; background-color: #eeeeee;">&nbsp;</td>
            <td style="width: 15.3409%; height: 18px; background-color: #eeeeee;">&nbsp;</td>
        </tr>
    </tbody>
</table>
<p>&nbsp;</p>
<p style="text-align: right;"><span style="color: #993300;"><strong>Summe&nbsp; &nbsp; &nbsp; {{Summe}}</strong></span>
</p>
<p style="text-align: right;">&nbsp;</p>
<div class="page" title="Page 2">
    <div class="layoutArea">
        <div class="column">
            <p>&nbsp;</p>
            <p>Vielen Dank für Ihre Bestellung.</p>
        </div>
    </div>
    <div class="layoutArea">
        <div class="column">
            <p>Bitte bezahlen Sie den unten genannten Betrag bei Abholung Ihrer Bestellung passend in bar.</p>
        </div>
    </div>
    <div class="layoutArea">
        <div class="column">
            <p>Bei Rückfragen stehen wir Ihnen gerne zur Verfügung unter <a
                    href="mailto:bestellung@bmk-buggingen.de">bestellung@bmk-buggingen.de</a></p>
        </div>
    </div>
    <div class="layoutArea">
        <div class="column">
            <p>&nbsp;</p>
            <p>Anmerkungen: {{Anmerkungen}}</p>
        </div>
    </div>
</div>